# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List popular libraries for Data Science
- Evaluate simple arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. TensorFlow

|Data Science Tools|
|-|
|Jupiter Lab|
|Apache Zeppelin|
|R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Marco